.welcome{
    padding: calc(80px + 50px) 60px 10px;
}

.area{
    background-color: rgb(35, 35, 187);
    margin: 50px 50px 40px;
    padding: 25px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    /* flex-grow: 3; */
    height: 85px;
    align-items: center;
}

.area > p{
    cursor: pointer;
    /* padding: 25px; */
}


.area > p:hover{
    /* color: rgb(255, 169, 255); */
    color: yellow;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.2em;
    /* background-color:  rgb(95, 95, 240); */
}

main.content{
    width: 100vw;
    min-height: 40vh;
    padding: 50px 50px;
    display: grid;
    gap: 70px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: 350px;
}