.welcome{
    padding: calc(80px + 50px) 60px 10px;
}

main.content{
    width: 100vw;
    min-height: 100vh;
    padding: 50px 50px;
    display: grid;
    gap: 70px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: 350px;
}